@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
}

.MuiTabs-indicator{
    background-color: white;
}


.css-1aquho2-MuiTabs-indicator{
    background-color: white;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }